demo-workflow.json
{
  "name": "Demo Workflow - 10 Nodes",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "data1",
              "name": "users",
              "value": "={{ [\n  { id: 1, name: 'Alice', score: 85 },\n  { id: 2, name: 'Bob', score: 92 },\n  { id: 3, name: 'Charlie', score: 78 },\n  { id: 4, name: 'Diana', score: 95 },\n  { id: 5, name: 'Eve', score: 88 }\n] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "set-data-1",
      "name": "Create Test Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches-1",
      "name": "Split in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const user = $input.item.json.users;\n\n// Add processing flag\nuser.processed = true;\nuser.timestamp = new Date().toISOString();\nuser.grade = user.score >= 90 ? 'A' : user.score >= 80 ? 'B' : 'C';\n\nreturn { json: user };"
      },
      "id": "code-process-1",
      "name": "Process User Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "id": "condition1",
              "value1": "={{ $json.grade }}",
              "value2": "A",
              "operation": "equals"
            }
          ]
        },
        "options": {}
      },
      "id": "if-check-1",
      "name": "Is Grade A?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/users/{{ $json.id }}",
        "authentication": "none",
        "options": {}
      },
      "id": "http-request-1",
      "name": "Get User Details (A)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 180]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result1",
              "name": "result",
              "value": "={{ {\n  id: $json.id,\n  name: $json.name,\n  score: $('Process User Data').item.json.score,\n  grade: $('Process User Data').item.json.grade,\n  status: 'Excellent - Grade A',\n  apiData: $json\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-success-1",
      "name": "Format Success Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1560, 180]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result2",
              "name": "result",
              "value": "={{ {\n  id: $json.id,\n  name: $json.name,\n  score: $json.score,\n  grade: $json.grade,\n  status: 'Good - Grade ' + $json.grade,\n  apiData: null\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-default-1",
      "name": "Format Default Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 420]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-results-1",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "content": "## Demo Workflow - 10 Nodes\n\n**Flow:**\n1. Manual Trigger - Start workflow\n2. Create Test Data - Generate 5 users\n3. Split in Batches - Process one by one\n4. Process User Data - Add grade (A/B/C)\n5. Is Grade A? - Check if excellent\n6. Get User Details (TRUE) - API call for A students\n7. Format Success (TRUE) - Enrich with API data\n8. Format Default (FALSE) - Simple result\n9. Merge Results - Combine all results\n10. This Note - Documentation\n\n**Purpose:** Demonstrates:\n- Data transformation (Set)\n- Batch processing (Split)\n- Custom logic (Code)\n- Conditional routing (IF)\n- API integration (HTTP)\n- Data merging (Merge)",
        "height": 464,
        "width": 389,
        "color": 4
      },
      "id": "sticky-note-1",
      "name": "Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 520]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Create Test Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Data": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [
          {
            "node": "Process User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process User Data": {
      "main": [
        [
          {
            "node": "Is Grade A?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Grade A?": {
      "main": [
        [
          {
            "node": "Get User Details (A)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Default Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Details (A)": {
      "main": [
        [
          {
            "node": "Format Success Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Result": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Default Result": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-16T00:00:00.000Z",
  "versionId": "1"
}
